# Exercise 3 - Data preparation and aggregation

In [28]:
# import packages and librairies

In [14]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

### We will read the data and display them, using the data from part 2.

In [15]:
df = pd.read_csv('prepared_data.csv')
df.index.names = ['ID'] # put name ID in index 
df

,weekday,daytime,isHoliday,distance,count,startClusterName,startClusterZip,startClusterID,endClusterName,endClusterZip,endClusterID,year,month,total
ID,,,,,,,,,,,,,,
0,Di,7,0,3,15,Hunedoara,71171,3254026000002,Hunedoara,71171,3254026000007,2021,3,45
1,Mi,17,0,0,10,Turda,80982,3241013050002,Turda,80982,3241013050008,2021,3,0
2,Sa,11,0,3,10,Turda,80982,3241013050007,Turda,80982,3241013030001,2021,3,30
3,Fr,13,0,0,15,Bran,91157,3254028001012,Bran,91157,3254028001004,2021,3,0
4,Fr,18,0,7,10,Bran,91157,3254028001003,Turda,80982,3241013070001,2021,3,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277022,Mo,9,1,0,15,Bran,91157,3254028001012,Bran,91157,3254028001003,2020,10,0
277023,Di,18,0,7,15,Bran,91157,3254028001013,Turda,80982,3241013070001,2020,10,105
277024,Di,9,0,2,10,Bran,91157,3254028001013,Bran,91157,3254028003001,2020,10,20
277025,Mo,18,0,5,5,Hunedoara,71171,3254026000014,Hunedoara,71171,3254026000003,2020,10,25
277026,Mi,12,1,2,15,Bran,91157,3254028004001,Bran,91157,3254028001013,2020,10,30

##  Data cleansing
we'll identify anything that can be remarked on the data 

We're going to remove the collones that aren't currently helping us and store them elsewhere.

In [16]:

# Check for missing values
print(df.isnull().sum())
# drop collumns 
dfclean = df.copy()
# Reorganizing columns
new_order = ['year' , 'month','startClusterName' , 'startClusterZip', 'startClusterID', 'endClusterName','endClusterZip', 'endClusterID',  'weekday', 'daytime','isHoliday',  'distance',  'count',  'total']
dfclean = dfclean[new_order]

bin_labels_month = ['First semester','second Semester']
dfclean['month'] = pd.cut(x = dfclean['month'],
                              bins=[1,6,12],
                              labels = bin_labels_month)
replacer_dict = {'First semester' : 0, 
                 'second Semester' : 1}
dfclean['month'] = dfclean['month'].replace(to_replace = replacer_dict)
dfclean['month'].unique()

dfclean

weekday             0
daytime             0
isHoliday           0
distance            0
count               0
startClusterName    0
startClusterZip     0
startClusterID      0
endClusterName      0
endClusterZip       0
endClusterID        0
year                0
month               0
total               0
dtype: int64

/tmp/ipykernel_234/4014250967.py:15: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dfclean['month'] = dfclean['month'].replace(to_replace = replacer_dict)
/tmp/ipykernel_234/4014250967.py:15: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  dfclean['month'] = dfclean['month'].replace(to_replace = replacer_dict)

,year,month,startClusterName,startClusterZip,startClusterID,endClusterName,endClusterZip,endClusterID,weekday,daytime,isHoliday,distance,count,total
ID,,,,,,,,,,,,,,
0,2021,0,Hunedoara,71171,3254026000002,Hunedoara,71171,3254026000007,Di,7,0,3,15,45
1,2021,0,Turda,80982,3241013050002,Turda,80982,3241013050008,Mi,17,0,0,10,0
2,2021,0,Turda,80982,3241013050007,Turda,80982,3241013030001,Sa,11,0,3,10,30
3,2021,0,Bran,91157,3254028001012,Bran,91157,3254028001004,Fr,13,0,0,15,0
4,2021,0,Bran,91157,3254028001003,Turda,80982,3241013070001,Fr,18,0,7,10,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277022,2020,1,Bran,91157,3254028001012,Bran,91157,3254028001003,Mo,9,1,0,15,0
277023,2020,1,Bran,91157,3254028001013,Turda,80982,3241013070001,Di,18,0,7,15,105
277024,2020,1,Bran,91157,3254028001013,Bran,91157,3254028003001,Di,9,0,2,10,20
277025,2020,1,Hunedoara,71171,3254026000014,Hunedoara,71171,3254026000003,Mo,18,0,5,5,25
277026,2020,1,Bran,91157,3254028004001,Bran,91157,3254028001013,Mi,12,1,2,15,30

### Discretization
We have a dataset made up of numerical and non-numerical values. We'll start by touching certain numerical values and assigning them certain characteristics:

hour in(morning, noon, evening)

holiday in( True, False)

month in ( First semester, second Semester)

In [17]:
#Let's make a copy of our database to transform this
dfBins = dfclean.copy()

bin_labels_hour = ['night','morning', 'noon','evening']
dfBins['daytime'] = pd.cut(x = dfclean['daytime'],
                              bins=[0,6, 12,18,24],
                              labels = bin_labels_hour)

#dfBins['holiday'] = dfclean['holiday'].astype(bool) if we want to change types of holidays 

dfBins['isHoliday'] = dfclean['isHoliday'].map({1: 'True', 0: 'False'})


dfBins

,year,month,startClusterName,startClusterZip,startClusterID,endClusterName,endClusterZip,endClusterID,weekday,daytime,isHoliday,distance,count,total
ID,,,,,,,,,,,,,,
0,2021,0,Hunedoara,71171,3254026000002,Hunedoara,71171,3254026000007,Di,morning,False,3,15,45
1,2021,0,Turda,80982,3241013050002,Turda,80982,3241013050008,Mi,noon,False,0,10,0
2,2021,0,Turda,80982,3241013050007,Turda,80982,3241013030001,Sa,morning,False,3,10,30
3,2021,0,Bran,91157,3254028001012,Bran,91157,3254028001004,Fr,noon,False,0,15,0
4,2021,0,Bran,91157,3254028001003,Turda,80982,3241013070001,Fr,noon,False,7,10,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277022,2020,1,Bran,91157,3254028001012,Bran,91157,3254028001003,Mo,morning,True,0,15,0
277023,2020,1,Bran,91157,3254028001013,Turda,80982,3241013070001,Di,noon,False,7,15,105
277024,2020,1,Bran,91157,3254028001013,Bran,91157,3254028003001,Di,morning,False,2,10,20
277025,2020,1,Hunedoara,71171,3254026000014,Hunedoara,71171,3254026000003,Mo,noon,False,5,5,25
277026,2020,1,Bran,91157,3254028004001,Bran,91157,3254028001013,Mi,morning,True,2,15,30

## Numerical coding and norming
Let's try to work on the normalized data while preserving our dataset Let's make a copy . We'll transform the day columns into ( 1,2,3...7)

then, using MinMaxScaller, we'll normalize them to [0,1].

In [18]:
#  Data transformation: Normalize numerical columns using Min-Max scaling
scaler = MinMaxScaler()
dfNumeric = dfclean.copy()
# Transform weekday in numerical 
dfNumeric['weekday'] = dfNumeric['weekday'].replace (to_replace=['Mo','Di','Mi','Do','Fr','Sa','So'], value =[1,2,3,4,5,6,7])

numerical_cols = dfNumeric.select_dtypes(include=np.number).columns
dfNumeric[numerical_cols] = scaler.fit_transform(dfNumeric[numerical_cols])

display(dfNumeric.head())

#Let's check that everything has been done correctly and that the values are between 0 and 1.

dfNumeric.describe().loc[['min','max']]

,year,month,startClusterName,startClusterZip,startClusterID,endClusterName,endClusterZip,endClusterID,weekday,daytime,isHoliday,distance,count,total
ID,,,,,,,,,,,,,,
0,1.0,0,Hunedoara,0.000000,0.999846,Hunedoara,0.000000,0.999846,2,0.304348,0.0,0.001000,0.0004,0.0009
1,1.0,0,Turda,0.490894,0.000003,Turda,0.490894,0.000003,3,0.739130,0.0,0.000000,0.0002,0.0000
2,1.0,0,Turda,0.490894,0.000003,Turda,0.490894,0.000002,6,0.478261,0.0,0.001000,0.0002,0.0006
3,1.0,0,Bran,1.000000,1.000000,Bran,1.000000,1.000000,5,0.565217,0.0,0.000000,0.0004,0.0000
4,1.0,0,Bran,1.000000,1.000000,Turda,0.490894,0.000005,5,0.782609,0.0,0.002333,0.0002,0.0014

,year,startClusterZip,startClusterID,endClusterZip,endClusterID,daytime,isHoliday,distance,count,total
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

## Binear Coding 
We're going to transform our data into binary form so that it can be easily explained and understood by future machine learning models that can't directly process textual or categorical data.

In [19]:
df_encoded = pd.get_dummies(dfclean, drop_first=True)
df_encoded =df_encoded.replace({True : 1,False: 0})
df_encoded.head()

/tmp/ipykernel_234/4230492838.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_encoded =df_encoded.replace({True : 1,False: 0})

,year,startClusterZip,startClusterID,endClusterZip,endClusterID,daytime,isHoliday,distance,count,total,...,endClusterName_Turda,weekday_Do,weekday_Donn,weekday_Fr,weekday_Mi,weekday_Mo,weekday_Mon,weekday_Sa,weekday_Sam,weekday_So/Fe
ID,,,,,,,,,,,,,,,,,,,,,
0,2021,71171,3254026000002,71171,3254026000007,7,0,3,15,45,...,0,0,0,0,0,0,0,0,0,0
1,2021,80982,3241013050002,80982,3241013050008,17,0,0,10,0,...,1,0,0,0,1,0,0,0,0,0
2,2021,80982,3241013050007,80982,3241013030001,11,0,3,10,30,...,1,0,0,0,0,0,0,1,0,0
3,2021,91157,3254028001012,91157,3254028001004,13,0,0,15,0,...,0,0,0,1,0,0,0,0,0,0
4,2021,91157,3254028001003,80982,3241013070001,18,0,7,10,70,...,1,0,0,1,0,0,0,0,0,0

In [20]:

df_encoded = pd.DataFrame(scaler.fit_transform(df_encoded), columns = df_encoded.columns, index = df_encoded.index)
df_encoded

,year,startClusterZip,startClusterID,endClusterZip,endClusterID,daytime,isHoliday,distance,count,total,...,endClusterName_Turda,weekday_Do,weekday_Donn,weekday_Fr,weekday_Mi,weekday_Mo,weekday_Mon,weekday_Sa,weekday_Sam,weekday_So/Fe
ID,,,,,,,,,,,,,,,,,,,,,
0,1.0,0.000000,0.999846,0.000000,0.999846,0.304348,0.0,0.001000,0.0004,0.0009,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.490894,0.000003,0.490894,0.000003,0.739130,0.0,0.000000,0.0002,0.0000,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.490894,0.000003,0.490894,0.000002,0.478261,0.0,0.001000,0.0002,0.0006,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,1.0,1.000000,1.000000,1.000000,1.000000,0.565217,0.0,0.000000,0.0004,0.0000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,1.000000,1.000000,0.490894,0.000005,0.782609,0.0,0.002333,0.0002,0.0014,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277022,0.0,1.000000,1.000000,1.000000,1.000000,0.391304,1.0,0.000000,0.0004,0.0000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
277023,0.0,1.000000,1.000000,0.490894,0.000005,0.782609,0.0,0.002333,0.0004,0.0021,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
277024,0.0,1.000000,1.000000,1.000000,1.000000,0.391304,0.0,0.000667,0.0002,0.0004,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
277025,0.0,0.000000,0.999846,0.000000,0.999846,0.782609,0.0,0.001667,0.0000,0.0005,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
277026,0.0,1.000000,1.000000,1.000000,1.000000,0.521739,1.0,0.000667,0.0004,0.0006,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [21]:
df_encoded.to_csv('learning_data.csv', index=False)